:root {
  --bg-color: #fff;
  --text-color: #111;
  --cta-bg-color: #00a0f9;
  --cta-text-color: #fff;
  --btn-bg-color: #222;
  --btn-text-color: #fff;
}

@media (prefers-color-scheme: dark) {
  
  :root:not([theme="light"])  {
    --bg-color: #111;
    --text-color: #fff;
    --btn-bg-color: #fff;
    --btn-text-color: #222;
  }
}

/* :root[theme="dark"] {
  --bg-color: #111;
  --text-color: #fff;
  --btn-bg-color: #fff;
  --btn-text-color: #222;
} */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  padding: 25px;
/*   background: #fff;
  color: #111; */
  background: var(--bg-color);
  color: var(--text-color);
}

*, *::after, *::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

button {
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.theme-toggle-btn {
  background: var(--btn-bg-color);
  color: var(--btn-text-color);
}
/*
:root[data-theme="light"] {
  --text: #040316;
  --background: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dddbff;
  --accent: #443dff;
}

:root[data-theme="dark"] {
  --text: #eae9fc;
  --background: #016161c;
  --primary: #3a31d8;
  --secondary: #020024;
  --accent: #0600c2;
}

 @media (prefers-color-scheme: dark) {
  :root {
    --background-color: #16161c;
    --text-color: #eae9fc;
  }
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
/*
label {
  width: 125px;
  height: 50px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
label:after {
  content: "";
  width: 45px;
  height: 45px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 45px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
input {
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label {
  background: #242424;
}
input:checked + label:after {
  left: 122px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
label,
label:after {
  transition: 0.3s;
}
.background {
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: -1;
  position: absolute;
  transition: 0.3s;
}
input:checked + label + .background {
  background: #242424;
}
label svg {
  position: absolute;
  width: 30px;
  top: 10px;
  z-index: 100;
}
label svg.sun {
  left: 10px;
  fill: #fff;
  transition: 0.3s;
}
label svg.moon {
  left: 85px;
  fill: #7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill: #7e7e7e;
}
input:checked + label svg.moon {
  fill: #fff;
}
/*